<footer>
  <div class="container footerBlock">
    <div class="footerBlock__contactUs">
      <span>Please contact us: </span>
      <a href="#" target="_blank">kdr-support@kpmg.ua</a>
    </div>

    <nav class="footerBlock__nav">
   
        <a class="footerBlock__nav_item">Accession Agreement</a>
        <a class="footerBlock__nav_item">Dutch regulations</a>
        <a class="footerBlock__nav_item">English regulations </a>
        <a class="footerBlock__nav_item">Operator fee schedule</a>
        <a class="footerBlock__nav_item">Confirmation letter template</a>
        <a class="footerBlock__nav_item">Statement of liability limitatio</a>
        <a class="footerBlock__nav_item">Protection of personal data</a>

    </nav>

    <div class="footerBlock__end">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
  </div>
</footer>

 


 

 


