<section class="aboutBlock" id="about">
  <div class="container">
    <h2 class="aboutBlock__title">About us</h2>

    <div class="aboutBlock__columns">

      <div class="aboutBlock__columns_col">
       <div class="aboutBlock__columns_col_ico">
         <svg-icon src="../../assets/img/cup.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon>
       </div>
       <p class="aboutBlock__columns_col_title">First for big4</p>
       <p class="aboutBlock__columns_col_text" id="aboutTextLeft">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
       </p>
       <a href="#" target="_blank" class="aboutBlock__columns_col_more">read more...</a>
       <a href="#" target="_blank" class="aboutBlock__columns_col_link">kpmg.ua</a>
      </div>

       <div class="aboutBlock__columns_col">
       <div class="aboutBlock__columns_col_ico">
         <svg-icon src="../../assets/img/glob.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon>
       </div>
       <p class="aboutBlock__columns_col_title">International</p>
       <p class="aboutBlock__columns_col_text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
       </p>
       <a href="#" target="_blank" class="aboutBlock__columns_col_link">kpmg.ua</a>
      </div>

       <div class="aboutBlock__columns_col">
       <div class="aboutBlock__columns_col_ico">
         <svg-icon src="../../assets/img/medal.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon>
       </div>
       <p class="aboutBlock__columns_col_title">Reputation</p>
       <p class="aboutBlock__columns_col_text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud... 
       </p>
       <a href="#" target="_blank" class="aboutBlock__columns_col_more">read more...</a>
       <a href="#" target="_blank" class="aboutBlock__columns_col_link">kpmg.ua</a>
      </div>

    </div>
  </div>
</section>
