@import '../mixins';

.offerBlock {
  margin: 0 auto;
  color: #223b7e;
  
  @include flexColumn;
  &__title {
    text-transform: uppercase;
    color: #1c8ece;
    text-align: center;
    padding: 50px 0 20px 0;
  }
  &__text {
    text-align: center;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    &_col {
      height: 350px;
      width: 30%;
      position: relative;  

      @include centerInnerElement;
       
      &_item {
        height: 100%;
        &:nth-child(2) > h6 {
          width: 100%; 
          align-content: flex-start;
        }
        h6 {
          color: #1c8ece;
          font-size: 1.1em;
          text-transform: uppercase;
          padding-top: 50px;
        }
        p, h6 {
          text-align: center;
          width: 70%;
        } 
      }
      &:last-child > div:first-child {
        display: flex;
        justify-content: center;
      }
      #mainTitle {
        font-size: 3em;
        font-family: SegoeUI-Bold, segoe-ui-bold, sans-serif;
        color: #1b5eaa;
        line-height: 1.2;
        text-transform: uppercase;
        width: 270px;
        text-align: center;
        position: absolute;
        
      }
    }
  }
}