<section class="offerBlock">
  <div class="container">
    <h2 class="offerBlock__title">We offer our clients</h2>

    <p class="offerBlock__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <div class="offerBlock__columns">

      <div class="offerBlock__columns_col">
       <div class="offerBlock__columns_col_item">
         <h6>Convenient and simple interface</h6>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
       </div>
       <div class="offerBlock__columns_col_item">
         <h6>Long-term support</h6>
       </div>
      </div>

      <div class="offerBlock__columns_col">

        <h1 id="mainTitle">KPMG consec elit</h1>

        <div class="offerBlock__columns_col_item">
          <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle id="bigCircle" cx="50%" cy="50%" r="139" stroke="#1b5eaa" stroke-opacity="0.2" fill="transparent" stroke-width="1"/>
            <circle id="smallCircle" cx="8%" cy="30%" r="8" fill="#223b7e" stroke-width="1"/>
          </svg>
        </div>
      </div>

      <div class="offerBlock__columns_col">
       <div class="offerBlock__columns_col_item">
         <h6>Reputation, reliability and safety</h6> 
       </div>
       <div class="offerBlock__columns_col_item">
         <h6>Transparency</h6>
       </div>
      </div>

    </div>
  </div>
</section>

