<body>
  <section class="winnerBlock" id="winner">

   <div class="container winnerBlock__container">
     <p class="winnerBlock__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
   </div>
  
   <div class="winnerBlock__winnerSection">
     
     <div class="winnerBlock__winnerSection_item">
       <div class="winnerBlock__winnerSection_item_circle"></div>
       <hr/>
       <h5>Asseptance<br/> of proposals</h5>
     </div>
     <div class="winnerBlock__winnerSection_item">
       <div class="winnerBlock__winnerSection_item_circle"></div>
       <hr/>
       <h5>Challenge</h5>
     </div>
     <div class="winnerBlock__winnerSection_item">
       <div class="winnerBlock__winnerSection_item_square">
         <h5>Wenner Selection</h5>
         <div class="winnerBlock__winnerSection_item_ico">
           <svg-icon src="../../assets/img/winner.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
       </div>
       <hr/>
     </div>
     <div class="winnerBlock__winnerSection_item">
       <div class="winnerBlock__winnerSection_item_circle"></div>
       <hr/>
       <h5>Payment<br/> for the asset</h5>
     </div>
     
   </div>
  
   <div class="container winnerBlock__scroll">
     <div class="winnerBlock__scroll_wrap">
       <span>Scroll down</span>
       <div class="winnerBlock__scroll_rect">
         <div>
           <svg-icon src="../../assets/img/scroll_inner.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
         </div>
       </div>
       <span>to see more</span>
    </div>
  </div>
     
</section>
<!-- Include other components -->
  <app-offer></app-offer>
  <app-about></app-about>
  <app-footer></app-footer>

</body>

